body {
    background-color: darkcyan;
    text-align: center;
}
.top {
    color: white;
}
.top h1:hover{
    color:black;
}
.list{
    width: 40%;
    margin: 0 auto;
    text-align: left; 
}
#heroimage{
    width: 30%;
    display: block;
    margin: 0 auto;
}
blockquote{
    color: #fff;
    font-size: 1.7em;
    max-width: 300px;
    margin: 0 auto;
    padding: 5% 5% 5% 5%;
}
.footplacard{
    text-align: center;
    margin: 0 auto;
}
main p{
    text-align: center;
}